@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

:root {
	--main-bg-color: var(--light); 
	--main-ft-color: var(--dark); 
}

@media (prefers-color-scheme: dark) {
  :root {
		--main-bg-color: var(--dark); 
		--main-ft-color: var(--light); 
	}
}

html.bg-light, div.bg-light, .bg-light {
    color: var(--main-ft-color);
	background-color: var(--main-bg-color)!important;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio]:checked + .oneImage {
    outline: 2px solid #f00;
}
[type=radio] + .oneImage {
    cursor: pointer;
}
.oneImage{
	height: 200px;
	padding:10px;
}
img{
	height: 100%;
}
div.mainClass
{

}

div.simple
{

}

div.normal
{

}

div.expert
{

}

div.selectMode
{

}

input#height[type=range][orient=vertical]
{
	width: 20px;
	height: 510px;
	padding-bottom: 20px;
	-webkit-appearance: slider-vertical;
}

input#width{
	width: 510px;
	height: 20px;
	padding-left: 20px;
	margin-left: 30px;
	display: block;
}
/*
.imageRadio{
	display: block;
	width:150px;
	height:150px;
	background-size: 150px;
}
*/
#imageSizeVisualize{
	display: inline-block;
	border-style: dotted;
}

.imageBlock{
	display:inline;
}
.imageBlock > input,.imageBlock > div{
	display: inline-block;
} 

#progressBar{
	height: 100%;
	display: flex;
}

#progressBar > svg{
	height: 100%;
	width: 100%;
}
/*
div.oneImage{
	padding: 5px;
	text-align: center;
}

div.selectTi{
	display: flex;
}
*/

.tryAgain div{
	padding-top: calc( ( 100vh - 3em )/2 );
	text-align: center;
    vertical-align: middle;
	font-size: 5em;
}

.emailBox{
	display:none;
}

h2.title{
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

h3.title{
	font-weight: bold;
	text-decoration: underline;
}

#simDisplay{
	display: block;
}